<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<div class="row">
        	<div class="col-md-12">
				
				<!-- Carousel -->
                <div  class="simple-caroursel responsive">
				
					<div class="list_carousel responsive" >
            			<div class="carousel-navigation">
            				<a id="carou-prev" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                			<a id="carou-next" class="next" href="#"><i class="fa fa-angle-right"></i></a>
						</div>
						<ul class="latest-work brands disable-select">
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content"> 
									<img alt="" src="img/demo/brands/1.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content"> 
									<img alt="" src="img/demo/brands/2.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content"> 
									<img alt="" src="img/demo/brands/3.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/4.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/5.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/6.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/7.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/9.png" >
								</div>
                    		</div>
						</li>
												<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/10.png" >
								</div>
                    		</div>
						</li>
												<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/11.png" >
								</div>
                    		</div>
						</li>
												<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/12.png" >
								</div>
                    		</div>
						</li>
						<li>
							<div class="brands-entry">
                    			<div class="brands-entry-content">
									<img alt="" src="img/demo/brands/13.png" >
								</div>
                    		</div>
						</li>
						</ul>
					<div class="clearfix"></div>

					</div>
        		
				</div>
                <!-- /Carousel -->
               
            </div>        
        </div>
	</div>
</body>
</html>